{% extends 'base.html.twig' %}

{% block body %}
    <h1>Teacher</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ teacher.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ teacher.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ teacher.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('teacher_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('teacher_edit', { 'id': teacher.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
